# for Arduino
**/.vscode/c_cpp_properties.json
Build/

!.vscode/c_cpp_properties.json

# for MDK-ARM
*.d
*.o
*.iex
*.crf
*.scvd
*.lst
*.dep
*.dbgconf
*.uvguix.ext
*.axf
*.htm
*.hex
*.map
*.lnp
